* {
  margin: 0;
  padding: 0;
}
main {
  max-width: 1000px;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
  border: solid;
}

article{
   border: solid; 
}
footer{
   border: solid;  
   text-align: center;
}
.grid_1{
     display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}
